<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <h3>Username</h3>
        <input name="username" placeholder="Username" type="text">
        <h3>Password</h3>
        <input name="password" placeholder="Password" type="password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>